<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pk10.dao.BetlimitMapper" >
  <resultMap id="BaseResultMap" type="com.pk10.bean.Betlimit" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="bet_type" property="betType" jdbcType="VARCHAR" />
    <result column="bet_multiple" property="betMultiple" jdbcType="INTEGER" />
    <result column="bet_limit" property="betLimit" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, bet_type, bet_multiple, bet_limit
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pk10.bean.BetlimitExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from betlimit
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limit != null" >
      <if test="offset != null" >
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null" >
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from betlimit
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from betlimit
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.pk10.bean.BetlimitExample" >
    delete from betlimit
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pk10.bean.Betlimit" >
    insert into betlimit (id, bet_type, bet_multiple, 
      bet_limit)
    values (#{id,jdbcType=INTEGER}, #{betType,jdbcType=VARCHAR}, #{betMultiple,jdbcType=INTEGER}, 
      #{betLimit,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.pk10.bean.Betlimit" >
    insert into betlimit
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="betType != null" >
        bet_type,
      </if>
      <if test="betMultiple != null" >
        bet_multiple,
      </if>
      <if test="betLimit != null" >
        bet_limit,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="betType != null" >
        #{betType,jdbcType=VARCHAR},
      </if>
      <if test="betMultiple != null" >
        #{betMultiple,jdbcType=INTEGER},
      </if>
      <if test="betLimit != null" >
        #{betLimit,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pk10.bean.BetlimitExample" resultType="java.lang.Integer" >
    select count(*) from betlimit
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update betlimit
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.betType != null" >
        bet_type = #{record.betType,jdbcType=VARCHAR},
      </if>
      <if test="record.betMultiple != null" >
        bet_multiple = #{record.betMultiple,jdbcType=INTEGER},
      </if>
      <if test="record.betLimit != null" >
        bet_limit = #{record.betLimit,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update betlimit
    set id = #{record.id,jdbcType=INTEGER},
      bet_type = #{record.betType,jdbcType=VARCHAR},
      bet_multiple = #{record.betMultiple,jdbcType=INTEGER},
      bet_limit = #{record.betLimit,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pk10.bean.Betlimit" >
    update betlimit
    <set >
      <if test="betType != null" >
        bet_type = #{betType,jdbcType=VARCHAR},
      </if>
      <if test="betMultiple != null" >
        bet_multiple = #{betMultiple,jdbcType=INTEGER},
      </if>
      <if test="betLimit != null" >
        bet_limit = #{betLimit,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pk10.bean.Betlimit" >
    update betlimit
    set bet_type = #{betType,jdbcType=VARCHAR},
      bet_multiple = #{betMultiple,jdbcType=INTEGER},
      bet_limit = #{betLimit,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>